<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018569656764-j39ra0r378k2j5bhrr0rrev3m27rp1al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018569656764-j39ra0r378k2j5bhrr0rrev3m27rp1al</string>
	<key>API_KEY</key>
	<string>AIzaSyC0I4sOOf1iTWXK0pnZa3RG2OB6b3RkNxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1018569656764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.detroitlabs.FoodNetwork</string>
	<key>PROJECT_ID</key>
	<string>inlaid-index-136923</string>
	<key>STORAGE_BUCKET</key>
	<string>inlaid-index-136923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018569656764:ios:9639863e3f280cf7</string>
	<key>DATABASE_URL</key>
	<string>https://inlaid-index-136923.firebaseio.com</string>
</dict>
</plist>